@page
@model AUTOPARC.Pages.Vehicule.DetailsModel
@{
    ViewData["Title"] = "Modifier Véhicule";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Véhicules</h3>
    </div>

    <form method="post">
        <div class="card">
            <div class="card-body wizard-content">
                <h4 class="card-title title-2">Modifier Véhicule</h4>
                <hr>
                @if (Model.check_Prix_MontantPayee)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>le montant payé doit être inférieure ou égale au prix d'achat de la véhicule.</p>
                    </div>
                }
                @if (Model.check_exception)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>Veuillez vérifier vos entrées.</p>
                    </div>
                }
                @if (Model.check_cheque_exception)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>Veuillez vérifier vos entrées dans la phase du cheque.</p>
                    </div>
                }
                @if (Model.check_numero_cheque_existance)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>Le numéro du cheque est déjà utilisé.</p>
                    </div>
                }
                @if (Model.check_montant)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>le prix d'achat de la véhicule doit être égale au montant payé de la véhicule plus le montant du cheque.</p>
                    </div>
                }
                @if (Model.check_date)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>la date de reglement du cheque doit être inférieure ou égale a la date d'echeance.</p>
                    </div>
                }
                @if (Model.check_etat_paye)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>vous ne pouvez pas modifier ou supprimer cette véhicule car le chèque est encaissé.</p>
                    </div>
                }
                <input asp-for="Vehicules.Id" type="hidden" />
                <input asp-for="Vehicules.Num" type="hidden" />
                <input asp-for="Vehicules.MarqueId" type="hidden" />

                <div class="form-row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.Matricule">Matricule <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.Matricule" class="text-danger"></span>
                        <input asp-for="Vehicules.Matricule" type="text" class="required form-control">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.CategorieId">Categorie <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.CategorieId" class="text-danger"></span>
                        <select asp-for="Vehicules.CategorieId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Nom</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.ModeleId">Modele <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.ModeleId" class="text-danger"></span>
                        <select asp-for="Vehicules.ModeleId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.ModelesList)
                            {
                                <option value="@item.Id">@item.Nom</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.CarburantId">Carburant <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.CarburantId" class="text-danger"></span>
                        <select asp-for="Vehicules.CarburantId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.TypeCarburantsList)
                            {
                                <option value="@item.Id">@item.Type</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.EtatVehiculeId">Etat <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.EtatVehiculeId" class="text-danger"></span>
                        <select asp-for="Vehicules.EtatVehiculeId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.EtatVehiculesList)
                            {
                                <option value="@item.Id">@item.Etat</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.FrsId">Fournisseur <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.FrsId" class="text-danger"></span>
                        <select asp-for="Vehicules.FrsId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.FournisseursList)
                            {
                                <option value="@item.Id">@item.Nom</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.PrixAchat">Prix Achat <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.PrixAchat" class="text-danger"></span>
                        <input asp-for="Vehicules.PrixAchat" type="text" class="required form-control" oninput="validateInput(this)">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.MontantPayee">Montant Payee <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.MontantPayee" class="text-danger"></span>
                        <input asp-for="Vehicules.MontantPayee" type="text" class="required form-control" oninput="validateInput(this)">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.ModePayementId">Methode de Payement <span style="color:red">*</span></label>
                        <span asp-validation-for="Vehicules.ModePayementId" class="text-danger"></span>
                        <select id="paymentMode" asp-for="Vehicules.ModePayementId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.ModePaimentsList)
                            {
                                <option value="@item.Id">@item.Mode</option>
                            }
                        </select>
                    </div>
                </div>




                <!-- Form de Cheque -->

                <div class="collapse border border-secondary border-3 mb-1" id="chequeForm">
                    <div class="container-fluid mb-2 bg-dark">
                        <h3 class="mb-0 text-center text-light">Form de Cheque</h3>
                    </div>
                    <div class="p-1">
                        <input asp-for="Cheques.Id" type="hidden" />
                        <input asp-for="Cheques.Action" value="Vehicule" type="hidden" />
                        <input asp-for="Cheques.Etat" type="hidden" />
                        <input asp-for="Cheques.ActionNum" value="@Model.Vehicules.Num" type="hidden" />

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label asp-for="Cheques.Numero" class="control-label">Numéro du Cheque <span class="text-danger">*</span></label>
                                <input asp-for="Cheques.Numero" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label asp-for="Cheques.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                <select asp-for="Cheques.BanqueId" class="form-control form-select">
                                    <option value="">Choisir...</option>
                                    @foreach (var item in Model.BanquesList)
                                    {
                                        <option value="@item.Id">@item.Nom</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label asp-for="Cheques.Montant" class="control-label">Montant (DH) <span class="text-danger">*</span></label>
                                <input asp-for="Cheques.Montant" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label asp-for="Cheques.AuNomDe" class="control-label">Au nom de: <span class="text-danger">*</span></label>
                                <input asp-for="Cheques.AuNomDe" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <label asp-for="Cheques.DateReglement" class="control-label">Date de Reglement <span class="text-danger">*</span></label>
                                <input asp-for="Cheques.DateReglement" type="date" class="form-control">
                            </div>

                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <label asp-for="Cheques.DateEcheance" class="control-label">Date d'Echeance <span class="text-danger">*</span></label>
                                <input asp-for="Cheques.DateEcheance" type="date" class="form-control">
                            </div>

                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <label asp-for="Cheques.DateValeur" class="control-label">Date Valeur</label>
                                <input asp-for="Cheques.DateValeur" type="date" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Fin Form de Cheque -->
                <!------------------------>





                <div class="form-row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <label asp-for="Vehicules.DateAchat">Date Achat</label>
                        <span asp-validation-for="Vehicules.DateAchat" class="text-danger"></span>
                        <input asp-for="Vehicules.DateAchat" class="form-control" type="date" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")" aria-required="true">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <label asp-for="Vehicules.DateMisEnCirculation">Date mis en Circulation</label>
                        <span asp-validation-for="Vehicules.DateMisEnCirculation" class="text-danger"></span>
                        <input asp-for="Vehicules.DateMisEnCirculation" class="form-control" type="date" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")" aria-required="true">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <label asp-for="Vehicules.Kilometrage">Kilometrage</label>
                        <span asp-validation-for="Vehicules.Kilometrage" class="text-danger"></span>
                        <input asp-for="Vehicules.Kilometrage" class="form-control" type="number" min="0" aria-required="true" oninput="validateNumbersOnly(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Vehicules.Note">Note</label>
                        <textarea asp-for="Vehicules.Note" class="form-control" rows="4" aria-required="true"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body wizard-content">
                <h4 class="card-title title-2">Informations Optionels</h4>
                <hr>
                <div class="form-row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.Moteur" class="text text-dark">Moteur</label>
                        <input asp-for="Vehicules.Moteur" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.Architecture" class="text text-dark">Architecture</label>
                        <input asp-for="Vehicules.Architecture" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <label asp-for="Vehicules.BoiteAVitesse" class="text text-dark">Boîte a Vitesse</label>
                        <input asp-for="Vehicules.BoiteAVitesse" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.Longueur" class="text text-dark">Longueur</label>
                        <input asp-for="Vehicules.Longueur" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.Largeur" class="text text-dark">Largeur</label>
                        <input asp-for="Vehicules.Largeur" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.Hauteur" class="text text-dark">Hauteur</label>
                        <input asp-for="Vehicules.Hauteur" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.VolumeCoffre" class="text text-dark">Volume Coffre</label>
                        <input asp-for="Vehicules.VolumeCoffre" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.PuissanceFiscale" class="text text-dark">Puissance Fiscale</label>
                        <input asp-for="Vehicules.PuissanceFiscale" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.PuissanceMax" class="text text-dark">Puissance Max</label>
                        <input asp-for="Vehicules.PuissanceMax" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.VitesseMax" class="text text-dark">Vitesse Max</label>
                        <input asp-for="Vehicules.VitesseMax" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.ConsomationMixte" class="text text-dark">Conso. Mixte</label>
                        <input asp-for="Vehicules.ConsomationMixte" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.NbrPlace" class="text text-dark">Nombre de Place</label>
                        <input asp-for="Vehicules.NbrPlace" type="text" class="form-control">
                    </div>

                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Vehicules.Poids" class="text text-dark">Poids</label>
                        <input asp-for="Vehicules.Poids" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row text-white">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                        <a data-toggle="modal" data-target="#updatemodal" class="btn btn-primary btn-lg btn-block">Modifier</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                        <a data-toggle="modal" data-target="#deletemodal" class="btn btn-danger btn-lg btn-block">Supprimer</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                        <a asp-page="/Vehicule/Index" class="btn btn-lg btn-secondary btn-block">Retour</a>
                    </div>
                </div>




                <!-- Delete Modal -->
                <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Voulez-vous vraiment supprimer cette véhicule?</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Delete" class="btn btn-danger btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Update Modal -->
                <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Voulez-vous vraiment modifier cette véhicule?</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Update" class="btn btn-primary btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>

</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#paymentMode').on("change", function () {
                var selectedText = $(this).find("option:selected").text();
                if (selectedText !== "Espece" && selectedText !== "Choisir...") {
                    $('#chequeForm').collapse('show');
                } else {
                    $('#chequeForm').collapse('hide');
                }
            });
        });
    </script>
}


@section InputsPattern
{
    <script>
        function validateInput(inputElement) {
            const regex = /^[0-9.]*$/; // Regular expression to allow only numbers and '.'

            const inputValue = inputElement.value;
            const isValid = regex.test(inputValue);

            if (!isValid) {
                inputElement.value = inputValue.replace(/[^0-9.]/g, ''); // Remove any non-numeric characters
            }
        }
    </script>

    <script>
        function validateNumbersOnly(inputElement) {
            const cleanValue = inputElement.value.replace(/\D/g, ''); // Remove any non-digit characters
            inputElement.value = cleanValue;
        }
    </script>
}