@page
@model AUTOPARC.Pages.Vehicule.IndexModel
@{
    ViewData["Title"] = "Liste des Vehicule";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Vehicules</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Listes des Vehicules</h4>
            <hr>

            <div class="mt-5">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text text-white bg-primary" style="font-size:18px">Num</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Matricule</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Categorie</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Marque</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Modele</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Montant Payé</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Reste</th>
                                <th class="text text-white text-center bg-primary" style="font-size:18px">Etat</th>
                                <th class="text text-white text-center bg-primary" style="font-size:18px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehicules)
                            {
                                string etat_vehicule = item.EtatVehicule.Etat;
                                var cheque = Model.ChequesList.Where(chq => chq.ActionNum == item.Num).SingleOrDefault();
                                var virement = Model.VirementsList.Where(v => v.ActionNum == item.Num).SingleOrDefault();
                                var credit = Model.CreditsList.Where(c => c.ActionNum == item.Num).SingleOrDefault();


                                string badge_vehicule = etat_vehicule == "Actif" ? "badge-success" : etat_vehicule == "En panne" ? "badge-danger" : etat_vehicule == "Vendu" ? "badge-secondary" : "badge-warning";
                                string badge_cheque = cheque != null ? (cheque.Etat == "payé" ? "badge-success" : "badge-danger") : string.Empty;
                                string badge_virement = virement != null ? (virement.Etat == "payé" ? "badge-success" : "badge-danger") : string.Empty;
                                string badge_credit = credit != null ? (credit.Etat == "payé" ? "badge-success" : "badge-danger") : string.Empty;

                                decimal reste = item.PrixAchat - item.MontantPayeeTotal;

                                <tr style="font-size:18px">
                                    <td class="text-dark">@item.Num</td>
                                    <td class="text-dark">@item.Matricule</td>
                                    <td class="text-dark">@item.Categorie.Nom</td>
                                    <td class="text-dark">@item.Marque.Nom</td>
                                    <td class="text-dark">@item.Modele.Nom</td>
                                    <td class="text-dark h6">
                                        @if (item.MontantPayeeEspece != 0)
                                        {
                                            <p>Espece: @item.MontantPayeeEspece <span class="badge badge-success">payé</span></p>
                                        }
                                        @if (item.MontantPayeeCheque != 0)
                                        {
                                            <p>Cheque: @item.MontantPayeeCheque <span class="badge @badge_cheque">@cheque.Etat</span></p>
                                        }
                                        @if (item.MontantPayeeVirement != 0)
                                        {
                                            <p>Virement: @item.MontantPayeeVirement <span class="badge @badge_virement">@virement.Etat</span></p>
                                        }
                                        @if (item.MontantPayeeCredit != 0)
                                        {
                                            <p>Credit: @item.MontantPayeeCredit <span class="badge @badge_credit">@credit.Etat</span></p>
                                        }
                                    </td>
                                    <td class="text-dark">
                                        @if (reste == 0)
                                        {
                                            <span class="badge badge-success">0</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">@reste</span>
                                        }
                                    </td>
                                    <td class="text-center" style="font-size:20px"><span class="badge @badge_vehicule">@item.EtatVehicule.Etat</span></td>
                                    <td class="text-dark">
                                        <a asp-route-id="@item.Id" asp-page="/Vehicule/Details" class="text text-white btn btn-primary btn-block"><i class="bi bi-info-circle-fill"></i> info</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>