@page
@model AUTOPARC.Pages.Vehicule.IndexModel
@{
    ViewData["Title"] = "Liste des Vehicule";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Vehicules</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Listes des Vehicules</h4>
            <hr>

            <div class="mt-5">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text text-white bg-primary" style="font-size:18px">Num</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Matricule</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Categorie</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Marque</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Modele</th>
                                <th class="text text-white text-center bg-primary" style="font-size:18px">Etat</th>
                                <th class="text text-white text-center bg-primary" style="font-size:18px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehicules)
                            {
                                string state = item.EtatVehicule.Etat;
                                string badge = state == "Actif" ? "badge-success" : state == "En panne" ? "badge-danger" : state == "Vendu" ? "badge-secondary" : "badge-warning";

                                <tr style="font-size:18px">
                                    <td class="text-dark">@item.Num</td>
                                    <td class="text-dark">@item.Matricule</td>
                                    <td class="text-dark">@item.Categorie.Nom</td>
                                    <td class="text-dark">@item.Marque.Nom</td>
                                    <td class="text-dark">@item.Modele.Nom</td>
                                    <td class="text-center" style="font-size:20px"><span class="badge @badge">@item.EtatVehicule.Etat</span></td>
                                    <td class="text-dark">
                                        <a asp-route-id="@item.Id" asp-page="/Vehicule/Details" class="text text-white btn btn-primary btn-block"><i class="bi bi-info-circle-fill"></i> info</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>