@page
@model AUTOPARC.Pages.Maintenance.CreateModel
@{
    ViewData["Title"] = "Ajouter Maintenance";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Maintenances</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Form de Maintenance</h4>
            <hr>
            @if (Model.Chauffeurs == null)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Aucun chauffeur affecter a cette véhicule.</p>
                </div>
                <div>
                    <a asp-page="/Maintenance/SelectionVehicule" class="btn btn-lg btn-secondary btn-block mt-4">Retour</a>
                </div>
                return;
            }
            @if (Model.check_cout_montantPayee)
            {
                <div class="alert alert-danger" role="alert">
                    <p>le montant payé doit être inférieure ou égale au coût de la maintenance.</p>
                </div>
            }
            @if (Model.check_exception)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées.</p>
                </div>
            }
            @if (Model.check_cheque_exception)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées dans la phase du cheque.</p>
                </div>
            }
            @if (Model.cheque_numero_cheque_existance)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Le numéro du cheque est déjà utilisé.</p>
                </div>
            }
            <div class="mt-4">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-8 col-lg-10 col-12">
                            <div class="card" style="background-color:#F2F2F2">
                                <div class="card-header font-weight-bold">Maintenance</div>
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center title-1 font-weight-bold">Nouvelle Maintenance</h3>
                                    </div>
                                    <hr>
                                    <form method="post" enctype="multipart/form-data">

                                        <input asp-for="Maintenances.VehiculeId" value="@Model.Vehicules.Id" type="hidden"/>
                                        <input asp-for="Maintenances.ChauffeurId" value="@Model.Chauffeurs.Id" type="hidden"/>

                                        <div class="form-row">
                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label class="control-label">Matricule véhicule <span class="text-danger">*</span></label>
                                                <input type="text" value="@Model.Vehicules.Matricule" class="form-control" readonly>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label class="control-label">Chauffeur véhicule <span class="text-danger">*</span></label>
                                                <input type="text" value="@Model.Chauffeurs.Nom @Model.Chauffeurs.Prenom" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Maintenances.TypeId" class="control-label">Type Maintenance <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.TypeId" class="text text-danger"></span>
                                                <select asp-for="Maintenances.TypeId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.TypeMaintenancesList)
                                                    {
                                                        <option value="@item.Id">@item.Type</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.Cout" class="control-label">Coût (DH) <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.Cout" class="text text-danger"></span>
                                                <input asp-for="Maintenances.Cout" type="text" class="form-control required">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.MontantPayee" class="control-label">Montant payé (DH) <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.MontantPayee" class="text text-danger"></span>
                                                <input asp-for="Maintenances.MontantPayee" type="text" class="form-control required">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.ModePaiementId" class="control-label">Mode de Paiement <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.ModePaiementId" class="text text-danger"></span>
                                                <select id="paymentMode" asp-for="Maintenances.ModePaiementId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.ModePaimentsList)
                                                    {
                                                        <option value="@item.Id">@item.Mode</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.DateMaintenance" class="control-label">Date Maintenance <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.DateMaintenance" class="text text-danger"></span>
                                                <input asp-for="Maintenances.DateMaintenance" type="date" class="form-control required" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                            </div>
                                        </div>




                                        <!-- Form de Cheque -->

                                        <div class="collapse border border-secondary border-3 mb-1" id="chequeForm">
                                            <div class="container-fluid mb-2 bg-dark">
                                                <h3 class="mb-0 text-center text-light">Form de Cheque</h3>
                                            </div>
                                            <div class="p-1">
                                                <input asp-for="Cheques.Action" value="Maintenance" type="hidden" />
                                                <input asp-for="Cheques.Etat" value="impayé" type="hidden" />

                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <label asp-for="Cheques.Numero" class="control-label">Numéro du Cheque <span class="text-danger">*</span></label>
                                                        <input asp-for="Cheques.Numero" type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <label asp-for="Cheques.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                                        <select asp-for="Cheques.BanqueId" class="form-control form-select">
                                                            <option value="">Choisir...</option>
                                                            @foreach (var item in Model.BanquesList)
                                                            {
                                                                <option value="@item.Id">@item.Nom</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <label asp-for="Cheques.Montant" class="control-label">Montant (DH) <span class="text-danger">*</span></label>
                                                        <input asp-for="Cheques.Montant" type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-12">
                                                        <label asp-for="Cheques.AuNomDe" class="control-label">Au nom de: <span class="text-danger">*</span></label>
                                                        <input asp-for="Cheques.AuNomDe" type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                        <label asp-for="Cheques.DateReglement" class="control-label">Date de Reglement <span class="text-danger">*</span></label>
                                                        <input asp-for="Cheques.DateReglement" type="date" class="form-control">
                                                    </div>

                                                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                        <label asp-for="Cheques.DateEcheance" class="control-label">Date d'Echeance <span class="text-danger">*</span></label>
                                                        <input asp-for="Cheques.DateEcheance" type="date" class="form-control">
                                                    </div>

                                                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                        <label asp-for="Cheques.DateValeur" class="control-label">Date Valeur</label>
                                                        <input asp-for="Cheques.DateValeur" type="date" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- Fin Form de Cheque -->
                                        <!------------------------>


                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Maintenances.UrlDoc" class="control-label">URL Document</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputFileAdd">URL</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input asp-for="Maintenances.UrlDoc" type="file" class="custom-file-input" id="inputFile">
                                                        <label class="custom-file-label" for="inputFile">Choisir un fichier...</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Maintenances.Description">Description</label>
                                                <textarea asp-for="Maintenances.Description" class="form-control" rows="4" aria-required="true"></textarea>
                                            </div>
                                        </div>

                                        <div>
                                            <button asp-page-handler="Create" class="btn btn-lg btn-info btn-block mt-4">Valider</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#paymentMode').on("change", function () {
                var selectedText = $(this).find("option:selected").text();
                if (selectedText !== "Espece" && selectedText !== "Choisir...") {
                    $('#chequeForm').collapse('show');
                } else {
                    $('#chequeForm').collapse('hide');
                }
            });
        });
    </script>
}


@section DocUploadJS {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputFile').on("change", function () {
                var inputPicture = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(inputPicture);
            });
        });
    </script>
}