@page
@model AUTOPARC.Pages.Maintenance.DetailsModel
@{
    ViewData["Title"] = "Modifier Maintenance";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Maintenances</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <div class="row">
                <div class="col-xl-8 col-12">
                    <h4 class="card-title title-2">Form de Modification de Maintenance</h4>
                </div>

                <div class="col-xl-4 col-12 text-right">
                    <a href="#" class="btn btn-info mt-1"><i class="bi bi-printer-fill"></i> Imprimé</a>
                    <a asp-route-id="@Model.Maintenances.Num" asp-page="/Maintenance/TelechargerDoc" class="btn btn-primary mt-1"><i class="bi bi-box-arrow-up-right"></i> Voir Documents</a>
                </div>
            </div>

            <hr>
            @if (Model.check_maintenance_exception)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées.</p>
                </div>
            }
            @if (Model.check_cheque_exception)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées dans la phase du cheque.</p>
                </div>
            }
            @if (Model.check_numero_cheque_existance)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Le numéro du cheque est déjà utilisé.</p>
                </div>
            }
            @if (Model.check_cheque_date)
            {
                <div class="alert alert-danger" role="alert">
                    <p>la date de reglement du cheque doit être inférieure ou égale a la date d'echeance.</p>
                </div>
            }
            @if (Model.check_virement_exception)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées dans la phase du virement.</p>
                </div>
            }
            @if (Model.check_credit_exception)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées dans la phase du credit.</p>
                </div>
            }
            @if (Model.check_credit_montantParMoi)
            {
                <div class="alert alert-danger" role="alert">
                    <p>le montant payé par moi doit être inférieure ou égale au Montant du crédit.</p>
                </div>
            }
            @if (Model.check_credit_date)
            {
                <div class="alert alert-danger" role="alert">
                    <p>la date de début du crédit doit être inférieure ou égale a la date de fin.</p>
                </div>
            }

            @if (Model.check_cheque_existance)
            {
                <div class="alert alert-danger" role="alert">
                    <p>vous ne pouvez pas supprimer cette maintenance car un cheque existe!</p>
                </div>
            }
            @if (Model.check_virement_existance)
            {
                <div class="alert alert-danger" role="alert">
                    <p>vous ne pouvez pas supprimer cette maintenance car un virement est payé!</p>
                </div>
            }
            @if (Model.check_credit_existance)
            {
                <div class="alert alert-danger" role="alert">
                    <p>vous ne pouvez pas supprimer cette maintenance car il est en crédit!</p>
                </div>
            }
            <div class="mt-4">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-8 col-lg-10 col-12">
                            <div class="card" style="background-color:#F2F2F2">
                                <div class="card-header font-weight-bold">Maintenance</div>
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center title-1 font-weight-bold">Modifier Maintenance</h3>
                                    </div>
                                    <hr>
                                    <form method="post" enctype="multipart/form-data">

                                        <input asp-for="Maintenances.Id" type="hidden" />
                                        <input asp-for="Maintenances.Num" type="hidden" />
                                        <input asp-for="Maintenances.MontantPayeeCheque" type="hidden" />
                                        <input asp-for="Maintenances.MontantPayeeVirement" type="hidden" />
                                        <input asp-for="Maintenances.MontantPayeeCredit" type="hidden" />
                                        <input asp-for="Maintenances.MontantPayeeTotal" type="hidden" />


                                        <div class="form-row">
                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.VehiculeId" class="control-label">Matricule <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.VehiculeId" class="text text-danger"></span>
                                                <select asp-for="Maintenances.VehiculeId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.VehiculesList)
                                                    {
                                                        <option value="@item.Id">@item.Matricule</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.TypeId" class="control-label">Type Maintenance <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.TypeId" class="text text-danger"></span>
                                                <select asp-for="Maintenances.TypeId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.TypeMaintenancesList)
                                                    {
                                                        <option value="@item.Id">@item.Type</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.OperationId" class="control-label">Operation Maintenance <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.OperationId" class="text text-danger"></span>
                                                <select asp-for="Maintenances.OperationId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.OperationMaintenancesList)
                                                    {
                                                        <option value="@item.Id">@item.Operation</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.FrsId" class="control-label">Fournisseur <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.FrsId" class="text text-danger"></span>
                                                <select asp-for="Maintenances.FrsId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.FournisseursList)
                                                    {
                                                        <option value="@item.Id">@item.Nom</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.DateMaintenance" class="control-label">Date Maintenance <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.DateMaintenance" class="text text-danger"></span>
                                                <input asp-for="Maintenances.DateMaintenance" type="date" class="form-control required" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label asp-for="Maintenances.Cout" class="control-label">Coût (DH) <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Maintenances.Cout" class="text text-danger"></span>
                                                <input asp-for="Maintenances.Cout" type="text" class="form-control required">
                                            </div>

                                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <label class="control-label">Mode Paiement <span class="text-danger">*</span></label>
                                                <div class="form-row">
                                                    @foreach (var item in Model.ModePaimentsList.OrderBy(m => m.Id))
                                                    {
                                                        <div class="form-check ml-2">
                                                            @if (item.Mode == "Espece")
                                                            {
                                                                <input class="form-check-input payment-checkbox" type="checkbox" id="@item.Mode" name="@item.Mode" value="@item.Mode" @(Model.Maintenances.MontantPayeeEspece != 0 ? "checked" : "")>
                                                            }
                                                            else if (item.Mode == "Cheque")
                                                            {
                                                                <input class="form-check-input payment-checkbox" type="checkbox" id="@item.Mode" name="@item.Mode" value="@item.Mode" @(Model.Maintenances.MontantPayeeCheque != 0 ? "checked" : "")>
                                                            }
                                                            else if (item.Mode == "Virement")
                                                            {
                                                                <input class="form-check-input payment-checkbox" type="checkbox" id="@item.Mode" name="@item.Mode" value="@item.Mode" @(Model.Maintenances.MontantPayeeVirement != 0 ? "checked" : "")>
                                                            }
                                                            else if (item.Mode == "Credit")
                                                            {
                                                                <input class="form-check-input payment-checkbox" type="checkbox" id="@item.Mode" name="@item.Mode" value="@item.Mode" @(Model.Maintenances.MontantPayeeCredit != 0 ? "checked" : "")>
                                                            }
                                                            <label class="form-check-label mr-2" for="@item.Mode">@item.Mode</label>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>




                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form d'Espece -->
                                                <div class="collapse border border-secondary border-3 mb-1" id="especeForm">
                                                    <div class="container-fluid mb-2 bg-dark">
                                                        <h3 class="mb-0 text-center text-light">Form d'Espece</h3>
                                                    </div>
                                                    <div class="p-1">
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Maintenances.MontantPayeeEspece" class="control-label">Montant payé (DH) <span class="text-danger">*</span></label>
                                                                <input asp-for="Maintenances.MontantPayeeEspece" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fin Form d'Espece -->
                                                <!------------------------>
                                            </div>


                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <!-- Form de Cheque -->
                                                <div class="collapse border border-secondary border-3 mb-1" id="chequeForm">
                                                    <div class="container-fluid mb-2 bg-dark">
                                                        <h3 class="mb-0 text-center text-light">Form de Cheque</h3>
                                                    </div>
                                                    <div class="p-1">
                                                        @{
                                                            string cheque_etat = Model.Cheques != null ? Model.Cheques.Etat : "En porte feuille";
                                                        }
                                                        <input asp-for="Cheques.Id" type="hidden" />
                                                        <input asp-for="Cheques.Etat" value="@cheque_etat" type="hidden" />
                                                        <input id="Cheques_Etat" asp-for="Cheques.Etat" type="hidden" />
                                                        <input asp-for="Cheques.ActionNum" value="@Model.Maintenances.Num" type="hidden" />

                                                        <div class="form-row">
                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.Numero" class="control-label">Numéro du Cheque <span class="text-danger">*</span></label>
                                                                <input asp-for="Cheques.Numero" type="text" class="form-control">
                                                            </div>

                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                                                <select asp-for="Cheques.BanqueId" class="form-control form-select">
                                                                    <option value="">Choisir...</option>
                                                                    @foreach (var item in Model.BanquesList)
                                                                    {
                                                                        <option value="@item.Id">@item.Nom</option>
                                                                    }
                                                                </select>
                                                            </div>

                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.Montant" class="control-label">Montant (DH) <span class="text-danger">*</span></label>
                                                                <input asp-for="Cheques.Montant" type="text" class="form-control">
                                                            </div>

                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.AuNomDe" class="control-label">Au nom de: <span class="text-danger">*</span></label>
                                                                <input asp-for="Cheques.AuNomDe" type="text" class="form-control">
                                                            </div>

                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.DateReglement" class="control-label">Date de Reglement <span class="text-danger">*</span></label>
                                                                <input asp-for="Cheques.DateReglement" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                                            </div>

                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.DateEcheance" class="control-label">Date d'Echeance <span class="text-danger">*</span></label>
                                                                <input asp-for="Cheques.DateEcheance" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                                <label asp-for="Cheques.DateValeur" class="control-label">Date Valeur</label>
                                                                <input asp-for="Cheques.DateValeur" type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- Fin Form de Cheque -->
                                                <!------------------------>
                                            </div>


                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <!-- Form de Virement -->
                                                <div class="collapse border border-secondary border-3 mb-1" id="virementForm">
                                                    <div class="container-fluid mb-2 bg-dark">
                                                        <h3 class="mb-0 text-center text-light">Form de Virement</h3>
                                                    </div>
                                                    <div class="p-1">
                                                        @{
                                                            string virement_etat = Model.Virements != null ? Model.Virements.Etat : "payé";
                                                        }
                                                        <input asp-for="Virements.Id" type="hidden" />
                                                        <input asp-for="Virements.Etat" value="@virement_etat" type="hidden" />
                                                        <input asp-for="Virements.ActionNum" value="@Model.Maintenances.Num" type="hidden" />

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Virements.Rib" class="control-label">R.I.B <span class="text-danger">*</span></label>
                                                                <input asp-for="Virements.Rib" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Virements.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                                                <select asp-for="Virements.BanqueId" class="form-control form-select">
                                                                    <option value="">Choisir...</option>
                                                                    @foreach (var item in Model.BanquesList)
                                                                    {
                                                                        <option value="@item.Id">@item.Nom</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Virements.Montant" class="control-label">Montant (DH) <span class="text-danger">*</span></label>
                                                                <input asp-for="Virements.Montant" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Virements.AuNomDe" class="control-label">Au nom de: <span class="text-danger">*</span></label>
                                                                <input asp-for="Virements.AuNomDe" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Virements.DateVirement" class="control-label">Date de Reglement <span class="text-danger">*</span></label>
                                                                <input asp-for="Virements.DateVirement" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- Fin Form de Virement -->
                                                <!------------------------>
                                            </div>


                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <!-- Form de Credit -->
                                                <div class="collapse border border-secondary border-3 mb-1" id="creditForm">
                                                    <div class="container-fluid mb-2 bg-dark">
                                                        <h3 class="mb-0 text-center text-light">Form de Credit</h3>
                                                    </div>
                                                    <div class="p-1">
                                                        <input asp-for="Credits.Id" type="hidden" />
                                                        <input asp-for="Credits.Etat" value="impayé" type="hidden" />
                                                        <input asp-for="Credits.ActionNum" value="@Model.Maintenances.Num" type="hidden" />

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Credits.Montant" class="control-label">Montant <span class="text-danger">*</span></label>
                                                                <input asp-for="Credits.Montant" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Credits.Mensualite" class="control-label">Mensualite <span class="text-danger">*</span></label>
                                                                <input asp-for="Credits.Mensualite" type="text" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Credits.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                                                <select asp-for="Credits.BanqueId" class="form-control form-select">
                                                                    <option value="">Choisir...</option>
                                                                    @foreach (var item in Model.BanquesList)
                                                                    {
                                                                        <option value="@item.Id">@item.Nom</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Credits.DateDebut" class="control-label">Date Debut <span class="text-danger">*</span></label>
                                                                <input asp-for="Credits.DateDebut" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label asp-for="Credits.DateFin" class="control-label">Date Fin <span class="text-danger">*</span></label>
                                                                <input asp-for="Credits.DateFin" type="date" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- Fin Form de Virement -->
                                                <!------------------------>

                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label class="control-label">Documents</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputFileAdd">URL</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputFile" name="files" multiple>
                                                        <label class="custom-file-label" for="inputFile">Choisir des documents...</label>
                                                    </div>
                                                </div>
                                                <div id="selectedFiles" class="mt-2"></div> <!-- Container to display selected files -->
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Maintenances.Description">Description</label>
                                                <textarea asp-for="Maintenances.Description" class="form-control" rows="4" aria-required="true"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row text-white">
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                                                <a data-toggle="modal" data-target="#updatemodal" class="btn btn-primary btn-lg btn-block">Modifier</a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                                                <a data-toggle="modal" data-target="#deletemodal" class="btn btn-danger btn-lg btn-block">Supprimer</a>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                                                <a asp-page="/Maintenance/Index" class="btn btn-lg btn-secondary btn-block">Retour</a>
                                            </div>
                                        </div>




                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Voulez-vous vraiment supprimer cette maintenance de véhicule?</h4>
                                                        <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button asp-page-handler="Delete" class="btn btn-danger btn-lg">Confirmer</button>
                                                        <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Update Modal -->
                                        <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Voulez-vous vraiment modifier cette maintenance de véhicule?</h4>
                                                        <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button asp-page-handler="Update" class="btn btn-primary btn-lg">Confirmer</button>
                                                        <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('.payment-checkbox').on("change", function () {
                var isChecked = $(this).prop("checked");
                var selectedValue = $(this).val();

                if (isChecked && (selectedValue === "Cheque" || selectedValue === "Virement" || selectedValue === "Espece" || selectedValue === "Credit")) {
                    $('#' + selectedValue.toLowerCase() + 'Form').collapse('show');
                } else {
                    $('#' + selectedValue.toLowerCase() + 'Form').collapse('hide');
                }
            });

            // Show/hide div collapses based on initial checkbox state
            $('.payment-checkbox').each(function () {
                var isChecked = $(this).prop("checked");
                var selectedValue = $(this).val();

                if (isChecked && (selectedValue === "Cheque" || selectedValue === "Virement" || selectedValue === "Espece" || selectedValue === "Credit")) {
                    $('#' + selectedValue.toLowerCase() + 'Form').collapse('show');
                } else {
                    $('#' + selectedValue.toLowerCase() + 'Form').collapse('hide');
                }
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            // Get references to the input fields
            var montantInput = $("#Credits_Montant");
            var mensualiteInput = $("#Credits_Mensualite");
            var dateFinInput = $("#Credits_DateFin");

            // Attach an input event handler to both Montant and Mensualite inputs
            montantInput.on("input", updateDateFin);
            mensualiteInput.on("input", updateDateFin);

            function updateDateFin() {
                var montant = parseFloat(montantInput.val());
                var mensualite = parseFloat(mensualiteInput.val());

                if (!isNaN(montant) && !isNaN(mensualite) && mensualite !== 0) {
                    var months = Math.ceil(montant / mensualite);
                    var currentDate = new Date();
                    currentDate.setMonth(currentDate.getMonth() + months);
                    var formattedDate = currentDate.toISOString().slice(0, 10); // Format as "yyyy-MM-dd"
                    dateFinInput.val(formattedDate);
                }
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            var etat_cheque = parseFloat($("#Maintenances_MontantPayeeCheque").val());
            var etat_virement = parseFloat($("#Maintenances_MontantPayeeVirement").val());
            var etat_credit = parseFloat($("#Maintenances_MontantPayeeCredit").val());

            var inputs_cheque = $("#chequeForm input, #chequeForm select");
            var inputs_virement = $("#virementForm input, #virementForm select");
            var inputs_credit = $("#creditForm input, #creditForm select");

            if (etat_cheque !== 0) {
                inputs_cheque.prop("disabled", true); // Disable all inputs and selects
            }
            if (etat_virement !== 0) {
                inputs_virement.prop("disabled", true); // Disable all inputs and selects
            }
            if (etat_credit !== 0) {
                inputs_credit.prop("disabled", true); // Disable all inputs and selects
            }
        });
    </script>
}


@section DocUploadJS {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputFile').on("change", function () {
                var inputFiles = $(this).prop("files");
                var selectedFilesContainer = $('#selectedFiles');

                // Clear previous content
                selectedFilesContainer.empty();

                // Update input label
                if (inputFiles.length === 0) {
                    $(this).next(".custom-file-label").html("Choisir un fichier...");
                } else {
                    $(this).next(".custom-file-label").html(inputFiles.length);
                }

                // Display selected files in rows
                for (var i = 0; i < inputFiles.length; i++) {
                    selectedFilesContainer.append('<div>' + inputFiles[i].name + '</div>');
                }
            });
        });
    </script>
}