@page
@model AUTOPARC.Pages.Maintenance.IndexModel
@{
    ViewData["Title"] = "Liste des Maintenance";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Maintenances</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Listes des Maintenances</h4>
            <hr>

            <div class="mt-5">
                <div class="table-responsive">
                    <table class="table table-earning table-borderless table-hover">
                        <thead>
                            <tr>
                                <th class="text text-white bg-info">Type Maintenance</th>
                                <th class="text text-white bg-info">Matricule</th>
                                <th class="text text-white bg-info">Date</th>
                                <th class="text text-white bg-info">Coût (DH)</th>
                                <th class="text text-white bg-info">Montant Payé (DH)</th>
                                <th class="text text-white bg-info">Reste (DH)</th>
                                <th class="text text-white text-center bg-info">État</th>
                                <th class="text text-white text-center bg-info">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Maintenances)
                            {
                                decimal reste = item.Cout - item.MontantPayee;
                                string txtColor = reste == 0 ? "text-success" : "text-danger";
                                string badge = reste == 0 ? "badge badge-success" : "badge badge-danger";
                                string state = reste == 0 ? "payé" : "impayé";

                                <tr>
                                    <td class="text-dark h6">@item.Type.Type</td>
                                    <td class="text-dark h6">@item.Vehicule.Matricule</td>
                                    <td class="text-dark h6">@item.DateMaintenance.ToShortDateString()</td>
                                    <td class="text-dark h6">@item.Cout</td>
                                    <td class="text-dark h6">@item.MontantPayee</td>
                                    <td class="font-weight-bold h6 @txtColor">@reste</td>
                                    <td class="text-center h5"><span class="@badge">@state</span></td>
                                    <td class="text-dark">
                                        <a asp-route-id="@item.Id" asp-page="/Maintenance/Details" class="text text-white btn btn-info btn-block fs-5 font-weight-bold"><i class="bi bi-info-circle-fill"></i> info</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>