@page
@model AUTOPARC.Pages.Maintenance.IndexModel
@{
    ViewData["Title"] = "Liste des Maintenances";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Maintenances</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <div class="row">
                <div class="col-xl-8 col-12">
                    <h4 class="card-title title-2">Listes des Maintenances</h4>
                </div>
                <div class="col-xl-4 col-12 text-right">
                    <a href="#" class="btn btn-info mt-1"><i class="bi bi-printer-fill"></i> Imprimé</a>
                </div>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="displayOption" id="displayVehicule" checked>
                <label class="form-check-label" for="displayVehicule">Listes des Maintenances</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="displayOption" id="displayEtat">
                <label class="form-check-label" for="displayEtat">Situation des Maintenances</label>
            </div>

            <hr>

            <div class="mt-3">

                <div class="row">
                    <div class="col-12 text-right">
                        <a asp-page="/Maintenance/SelectionVehicule" class="btn btn-primary btn-lg mb-2"><i class="fas fa-plus"></i>&nbsp; Nouveau Maintenance</a>
                    </div>
                </div>

                <!-- Listes des Vehicules-->
                <div id="VehiculeContainer">
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th class="text-white bg-primary"><span class="h5">Num</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Type</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Operation</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Véhicule</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Chauffeur</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Date</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Fournisseur</span></th>
                                    <th class="text-white bg-primary text-center"><span class="h5">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MaintenancesList)
                                {
                                    <tr class="h5">
                                        <td class="text-dark">@item.Num</td>
                                        <td class="text-dark">@item.Type.Type</td>
                                        <td class="text-dark">@item.Operation.Operation</td>
                                        <td class="text-dark">@item.Vehicule.Matricule</td>
                                        <td class="text-dark">@item.Chauffeur.Nom @item.Chauffeur.Prenom</td>
                                        <td class="text-dark">@item.DateMaintenance.ToShortDateString()</td>
                                        <td class="text-dark">@item.Frs.Nom</td>
                                        <td class="text-dark">
                                            <a asp-route-id="@item.Id" asp-page="/Maintenance/Details" class="text text-white btn btn-primary btn-block"><i class="bi bi-info-circle-fill"></i> info</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Listes des Etats-->
                <div id="EtatContainer" style="display: none;">
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th class="text-white bg-primary"><span class="h5">Num</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Type</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Coût (DH)</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Montant Payé</span></th>
                                    <th class="text-white bg-primary"><span class="h5">Etat Paiement</span></th>
                                    <th class="text-white bg-primary text-center"><span class="h5">Reste</span></th>
                                    <th class="text-white bg-primary text-center"><span class="h5">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MaintenancesList)
                                {
                                    var cheque = Model.ChequesList.Where(chq => chq.ActionNum == item.Num).SingleOrDefault();
                                    var virement = Model.VirementsList.Where(v => v.ActionNum == item.Num).SingleOrDefault();
                                    var credit = Model.CreditsList.Where(c => c.ActionNum == item.Num).SingleOrDefault();


                                    string badge_cheque = cheque != null ? (cheque.Etat == "payé" ? "badge-success" : cheque.Etat == "En porte feuille" ? "badge-warning" : "badge-danger") : string.Empty;
                                    string badge_virement = virement != null ? (virement.Etat == "payé" ? "badge-success" : "badge-danger") : string.Empty;
                                    string badge_credit = credit != null ? (credit.Etat == "payé" ? "badge-success" : "badge-danger") : string.Empty;

                                    decimal reste = item.Cout - item.MontantPayeeTotal;
                                    string resteFont = reste == 0 ? "text-success" : "text-danger";

                                    <tr class="h5">
                                        <td class="text-dark">@item.Num</td>
                                        <td class="text-dark">@item.Type.Type</td>
                                        <td class="text-dark">@item.Cout</td>
                                        <td class="text-dark">
                                            @if (item.MontantPayeeEspece == 0 && item.MontantPayeeCheque == 0 && item.MontantPayeeVirement == 0 && item.MontantPayeeCredit == 0)
                                            {
                                                <p><span class="text text-danger">0</span></p>
                                            }
                                            @if (item.MontantPayeeEspece != 0)
                                            {
                                                <p>Espece: @item.MontantPayeeEspece</p>
                                            }
                                            @if (item.MontantPayeeCheque != 0)
                                            {
                                                <p>Cheque: @item.MontantPayeeCheque</p>
                                            }
                                            @if (item.MontantPayeeVirement != 0)
                                            {
                                                <p>Virement: @item.MontantPayeeVirement</p>
                                            }
                                            @if (item.MontantPayeeCredit != 0)
                                            {
                                                <p>Credit: @item.MontantPayeeCredit</p>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.MontantPayeeEspece == 0 && item.MontantPayeeCheque == 0 && item.MontantPayeeVirement == 0 && item.MontantPayeeCredit == 0)
                                            {
                                                <p><span class="badge badge-danger">impayé</span></p>
                                            }
                                            @if (item.MontantPayeeEspece != 0)
                                            {
                                                <p><span class="badge badge-success">payé</span></p>
                                            }
                                            @if (item.MontantPayeeCheque != 0)
                                            {
                                                <p><span class="badge @badge_cheque">@cheque.Etat</span></p>
                                            }
                                            @if (item.MontantPayeeVirement != 0)
                                            {
                                                <p><span class="badge @badge_virement">@virement.Etat</span></p>
                                            }
                                            @if (item.MontantPayeeCredit != 0)
                                            {
                                                <p><span class="badge @badge_credit">@credit.Etat</span></p>
                                            }
                                        </td>
                                        <td class="text-center"><span class="text @resteFont">@reste</span></td>
                                        <td class="text-dark">
                                            <a asp-route-id="@item.Id" asp-page="/Maintenance/Details" class="text text-white btn btn-primary btn-block"><i class="bi bi-info-circle-fill"></i> info</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const vehiculeContainer = document.getElementById("VehiculeContainer");
            const etatContainer = document.getElementById("EtatContainer");

            const displayVehiculeRadio = document.getElementById("displayVehicule");
            const displayEtatRadio = document.getElementById("displayEtat");

            displayVehiculeRadio.addEventListener("change", function () {
                vehiculeContainer.style.display = "block";
                etatContainer.style.display = "none";
            });

            displayEtatRadio.addEventListener("change", function () {
                vehiculeContainer.style.display = "none";
                etatContainer.style.display = "block";
            });
        });
    </script>

}