@page
@model AUTOPARC.Pages.SuiviDepense.DetailsModel
@{
    ViewData["Title"] = "Modifier Depense";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Suivi Dépenses</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Modifier Dépense</h4>
            <hr>
            @if (Model.check_exception)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées.</p>
                </div>
            }
            <form method="post">

                <input asp-for="Suividepense.Id" type="hidden"/>

                @if (Model.SocieteCount == 1)
                {
                    <div class="form-row">
                        <div class="form-group col-12">
                            <input asp-for="Suividepense.SocieteId" value="@Model.SocietesList.FirstOrDefault().Id" type="hidden" />
                            <label class="control-label">Société</label>
                            <input class="form-control" value="@Model.SocietesList.FirstOrDefault().RaisonSocial" type="text" readonly />
                        </div>
                    </div>
                }

                @if (Model.SocieteCount > 1)
                {
                    <div class="form-row">
                        <div class="form-group col-12">
                            <select asp-for="Suividepense.SocieteId" class="form-control form-select">
                                @foreach (var item in Model.SocietesList)
                                {
                                    <option value="@item.Id">@item.RaisonSocial</option>
                                }
                            </select>
                        </div>
                    </div>
                }

                <div class="form-row">

                    <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label asp-for="Suividepense.NumDepense" class="control-label">Numero Dépense</label>
                        <input asp-for="Suividepense.NumDepense" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label asp-for="Suividepense.DateDepense" class="control-label">Date Dépense <span class="text-danger">*</span></label>
                        <span asp-validation-for="Suividepense.DateDepense" class="text text-danger"></span>
                        <input asp-for="Suividepense.DateDepense" type="date" class="form-control required" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>

                    <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label asp-for="Suividepense.Montant">Montant Payé <span class="text-danger">*</span></label>
                        <span asp-validation-for="Suividepense.Montant" class="text-danger"></span>
                        <input asp-for="Suividepense.Montant" type="text" class="required form-control" oninput="validateInput(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Suividepense.Objet">Objet <span class="text-danger">*</span></label>
                        <span asp-validation-for="Suividepense.Objet" class="text-danger"></span>
                        <textarea asp-for="Suividepense.Objet" class="form-control" rows="4" aria-required="true"></textarea>
                    </div>
                </div>

                <div class="form-group row text-white">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                        <a data-toggle="modal" data-target="#updatemodal" class="btn btn-success btn-lg btn-block">Modifier</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                        <a data-toggle="modal" data-target="#deletemodal" class="btn btn-danger btn-lg btn-block">Supprimer</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                        <a asp-page="/SuiviDepense/Index" class="btn btn-lg btn-secondary btn-block">Retour</a>
                    </div>
                </div>




                <!-- Delete Modal -->
                <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Voulez-vous vraiment supprimer ce suivi de dépense?</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Delete" class="btn btn-danger btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Update Modal -->
                <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Voulez-vous vraiment modifier ce suivi de dépense?</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Update" class="btn btn-success btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@section InputsPattern {
    <script>
        function validateInput(inputElement) {
            const regex = /^[0-9.]*$/; // Regular expression to allow only numbers and '.'

            const inputValue = inputElement.value;
            const isValid = regex.test(inputValue);

            if (!isValid) {
                inputElement.value = inputValue.replace(/[^0-9.]/g, ''); // Remove any non-numeric characters
            }
        }
    </script>
}