@page
@model AUTOPARC.Pages.Chauffeur.Affectation.DetailsModel
@{
    ViewData["Title"] = "Form de Modification d'Affectation Chauffeur - Véhicule";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Form de Modification d'Affectation Chauffeur - Véhicule</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Modifier Affectation</h4>
            <hr>
            @if (Model.check_date)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>la date de début de l'affectation doit être inferieure à la date de fin de l'affectation.</p>
                </div>
            }
            @if (Model.check_exception)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées.</p>
                </div>
            }
            <form method="post">
                <input asp-for="AffectationChauffeurVehicules.Id" type="hidden"/>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="AffectationChauffeurVehicules.VehiculeId">Matricule <span class="text-danger">*</span></label>
                        <span asp-validation-for="AffectationChauffeurVehicules.VehiculeId" class="text-danger"></span>
                        <select asp-for="AffectationChauffeurVehicules.VehiculeId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.Vehicules)
                            {
                                <option value="@item.Id">@item.Matricule</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="AffectationChauffeurVehicules.ChauffeurId">Chauffeur <span class="text-danger">*</span></label>
                        <span asp-validation-for="AffectationChauffeurVehicules.ChauffeurId" class="text-danger"></span>
                        <select asp-for="AffectationChauffeurVehicules.ChauffeurId" class="form-control form-select">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.Chauffeurs)
                            {
                                <option value="@item.Id">@item.Nom @item.Prenom</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="AffectationChauffeurVehicules.DateDebutAffectation" class="control-label">Date Debut Affectation <span class="text-danger">*</span></label>
                        <span asp-validation-for="AffectationChauffeurVehicules.DateDebutAffectation" class="text-danger"></span>
                        <input asp-for="AffectationChauffeurVehicules.DateDebutAffectation" type="date" class="form-control required" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="AffectationChauffeurVehicules.DateFinAffectation" class="control-label">Date Fin Affectation</label>
                        <input class="form-check-input payment-checkbox ml-2" type="checkbox" id="datefinaffectation" name="datefinaffectation" value="datefinaffectation">
                        <input asp-for="AffectationChauffeurVehicules.DateFinAffectation" type="date" class="form-control" id="dateFinInput" readonly>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="AffectationChauffeurVehicules.RaisonFinAffectation" class="control-label">Raison Fin Affectation</label>
                        <textarea asp-for="AffectationChauffeurVehicules.RaisonFinAffectation" class="form-control" rows="4"></textarea>
                    </div>
                </div>

                <div class="form-group row text-white">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                        <a data-toggle="modal" data-target="#updatemodal" class="btn btn-primary btn-lg btn-block">Modifier</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-3">
                        <a data-toggle="modal" data-target="#deletemodal" class="btn btn-danger btn-lg btn-block">Supprimer</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                        <a asp-page="/Chauffeur/Affectation/Index" class="btn btn-lg btn-secondary btn-block">Retour</a>
                    </div>
                </div>




                <!-- Delete Modal -->
                <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Voulez-vous vraiment cet historique d'affectation?</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Delete" class="btn btn-danger btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Update Modal -->
                <div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Voulez-vous vraiment modifier cet historique d'affectation?</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>
                            <div class="modal-footer">
                                <button asp-page-handler="Update" class="btn btn-primary btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            const checkbox = $('#datefinaffectation');
            const dateInput = $('#dateFinInput');

            // On page load, set the initial state based on the input's value
            if (dateInput.val() !== '') {
                checkbox.prop('checked', true);
                dateInput.prop('readonly', false);
            } else {
                checkbox.prop('checked', false);
                dateInput.prop('readonly', true);
            }

            // On checkbox change, toggle the input's state
            checkbox.on('change', function () {
                if (checkbox.is(':checked')) {
                    dateInput.prop('readonly', false);
                } else {
                    dateInput.prop('readonly', true);
                }
            });
        });
    </script>

}