@page
@model AUTOPARC.Pages.Document.CreateModel
@{
    ViewData["Title"] = "Ajouter Document";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Documents</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Form du Document</h4>
            <hr>
            @if (Model.check_date)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>la date de début du document doit être inferieure à la date de fin.</p>
                </div>
            }
            @if (Model.check_exception)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées.</p>
                </div>
            }
            <div class="mt-4">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <div class="card" style="background-color:#F2F2F2">
                                <div class="card-header font-weight-bold">Document</div>
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center title-1 font-weight-bold">Nouveau Document</h3>
                                    </div>
                                    <hr>
                                    <form method="post">

                                        <input asp-for="Docs.VehiculeId" value="@Model.vehiculeID" type="hidden" />

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label class="control-label">Matricule véhicule <span class="text-danger">*</span></label>
                                                <input type="text" value="@Model.vehiculeMatricule" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Docs.Numero" class="control-label">Numéro Document <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Docs.Numero" class="text text-danger"></span>
                                                <input asp-for="Docs.Numero" type="text" class="form-control required">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Docs.TypeId" class="control-label">Type Document <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Docs.TypeId" class="text text-danger"></span>
                                                <select asp-for="Docs.TypeId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.TypeDocs)
                                                    {
                                                        <option value="@item.Id">@item.Type</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Docs.FrsId" class="control-label">Fournisseur <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Docs.FrsId" class="text text-danger"></span>
                                                <select asp-for="Docs.FrsId" class="form-control form-select required">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.Fournisseurs)
                                                    {
                                                        <option value="@item.Id">@item.Nom</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label asp-for="Docs.DateDebut" class="control-label">Date Début <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Docs.DateDebut" class="text text-danger"></span>
                                                <input asp-for="Docs.DateDebut" type="date" class="form-control required" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")">
                                            </div>
                                            
                                            <div class="form-group col-6">
                                                <label asp-for="Docs.DateFin" class="control-label">Date Fin <span class="text-danger">*</span></label>
                                                <span asp-validation-for="Docs.DateFin" class="text text-danger"></span>
                                                <input asp-for="Docs.DateFin" type="date" class="form-control required" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Docs.UrlDoc" class="control-label">URL Document</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputFileAdd">URL</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input asp-for="Docs.UrlDoc" type="file" class="custom-file-input" id="inputFile">
                                                        <label class="custom-file-label" for="inputFile">Choisir un fichier...</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <button asp-page-handler="Create" class="btn btn-lg btn-info btn-block mt-4">Valider</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@section DocUploadJS {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inputFile').on("change", function () {
                var inputPicture = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(inputPicture);
            });
        });
    </script>
}