@page
@model AUTOPARC.Pages.Fournisseur.IndexModel
@{
    ViewData["Title"] = "Liste des Fournisseurs";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Fournisseurs</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Listes des Fournisseur</h4>
            <hr>

            <div class="mt-5">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text text-white bg-primary" style="font-size:18px">Nom</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Email</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Adresse</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Telephone</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Portable</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Ville</th>
                                <th class="text text-white bg-primary" style="font-size:18px">Fonction</th>
                                <th class="text text-white bg-primary" style="font-size:18px">&nbsp;&nbsp;Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Fournisseurs)
                            {
                                <tr style="font-size:16px">
                                    <td class="text-dark">@item.Nom</td>
                                    <td class="text-dark">@item.Email</td>
                                    <td class="text-dark">@item.Adresse</td>
                                    <td class="text-dark">@item.Telephone</td>
                                    <td class="text-dark">@item.Portable</td>
                                    <td class="text-dark">@item.Ville.Nom</td>
                                    <td class="text-dark">@item.TypeFrs.Type</td>
                                    <td class="text-dark">
                                        <a asp-route-id="@item.Id" asp-page="/Fournisseur/Details" class="text text-white btn btn-primary btn-block"><i class="bi bi-info-circle-fill"></i> info</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>