@page
@model AUTOPARC.Pages.RechargeCarburant.CreateModel
@{
    ViewData["Title"] = "Recharger Carburant";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Recharge Carburants</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Form de Recharge de Carburant</h4>
            <hr>
            <div class="mt-4">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <div class="card" style="background-color:#F2F2F2">
                                <div class="card-header font-weight-bold">Recharge Carburant</div>
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center title-1 font-weight-bold">Recharge Carburant</h3>
                                    </div>
                                    <hr>
                                    <form method="post">

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="RechargeCarburants.VehiculeId" class="control-label mb-1">Matricule Véhicule</label>
                                                <select asp-for="RechargeCarburants.VehiculeId" class="form-control form-select">
                                                    <option value="value">Choisir...</option>
                                                    @foreach (var item in Model.Vehicules)
                                                    {
                                                        <option value="@item.Id">@item.Matricule</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label asp-for="RechargeCarburants.Quantite">Quantite (Litre)</label>
                                                <input asp-for="RechargeCarburants.Quantite" class="form-control" type="text" aria-required="true">
                                            </div>

                                            <div class="form-group col-6">
                                                <label asp-for="RechargeCarburants.Pu">Prix Unitaire (DH)</label>
                                                <input asp-for="RechargeCarburants.Pu" class="form-control" type="text" aria-required="true">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label asp-for="RechargeCarburants.ModePaimentId">Methode de Payement</label>
                                                <select asp-for="RechargeCarburants.ModePaimentId" class="form-control form-select">
                                                    <option value="value">Choisir...</option>
                                                    @foreach (var item in Model.ModePaiments)
                                                    {
                                                        <option value="@item.Id">@item.Mode</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-6">
                                                <label asp-for="RechargeCarburants.Km">Kilometrage (Km)</label>
                                                <input asp-for="RechargeCarburants.Km" class="form-control" type="text" aria-required="true">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="RechargeCarburants.DateRecharge" class="control-label mb-1">Date Recharge</label>
                                                <input asp-for="RechargeCarburants.DateRecharge" class="form-control fs-5" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")" aria-required="true">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="RechargeCarburants.Note" class="control-label mb-1">Description</label>
                                                <textarea asp-for="RechargeCarburants.Note" class="form-control fs-5" rows="4" aria-required="true"></textarea>
                                            </div>
                                        </div>

                                        <div>
                                            <button asp-page-handler="Create" class="btn btn-lg btn-info btn-block mt-4">Valider</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>