@page
@model AUTOPARC.Pages.Parametrage.Credit.DetailsModel
@{
    ViewData["Title"] = "Details Credit";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Parametrage</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="card-title title-2">Details Credit</h4>
                <input id="toggleSwitch" type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger">
            </div>
            
            <hr>
            
            <form method="post">
                <input asp-for="Credits.Id" type="hidden" />
                <input asp-for="Credits.Num" type="hidden" />

                <div id="toggleSection" class="form-row">
                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.ActionNum" class="control-label">Numéro d'Action</label>
                        <input asp-for="Credits.ActionNum" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.Action" class="control-label">Action</label>
                        <input asp-for="Credits.Action" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.Etat" class="control-label">Etat</label>
                        <input asp-for="Credits.Etat" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Vehicules.Matricule" class="control-label">Matricule</label>
                        <input asp-for="Vehicules.Matricule" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.Banque.Nom" class="control-label">Banque</label>
                        <input asp-for="Credits.Banque.Nom" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.Montant" class="control-label">Montant (DH)</label>
                        <input asp-for="Credits.Montant" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.Mensualite" class="control-label">Mensualite (DH)</label>
                        <input asp-for="Credits.Mensualite" type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.DateDebut" class="control-label">Date Debut</label>
                        <input asp-for="Credits.DateDebut" type="date" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.DateFin" class="control-label">Date Fin</label>
                        <input asp-for="Credits.DateFin" type="date" class="form-control" readonly>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label asp-for="Credits.Note" class="control-label">Note</label>
                        <input asp-for="Credits.Note" type="text" class="form-control" readonly>
                    </div>
                </div>

                <div class="form-group row text-white">
                    @if (Model.Credits.Etat == "impayé")
                    {
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                            <a class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#payeemodal">Payé</a>
                        </div>
                    }
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <a asp-page="/Parametrage/Credit/Index" class="btn btn-secondary btn-lg btn-block">Retour</a>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <button asp-page-handler="Update" class="btn btn-success btn-lg btn-block">Modifier</button>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <a class="btn btn-warning btn-lg btn-block" data-toggle="collapse" href="#creditCollapse" role="button" aria-expanded="false" aria-controls="creditCollapse">
                            Details
                        </a>
                    </div>

                </div>



                <!-- Payée Modal -->
                <div class="modal fade" id="payeemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Effectuer le paiement</h4>
                                <button type="button" class="close mb-1" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle"></i></button>
                            </div>

                            <div class="modal-body">
                                @if (Model.check_details_credit_exception)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p>Veuillez vérifier vos entrées.</p>
                                    </div>
                                }
                                @if (Model.check_cheque_exception)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p>Veuillez vérifier vos entrées dans la phase du cheque.</p>
                                    </div>
                                }
                                @if (Model.check_numero_cheque_existance)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p>Le numéro du cheque est déjà utilisé.</p>
                                    </div>
                                }
                                @if (Model.check_cheque_date)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p>la date de reglement du cheque doit être inférieure ou égale a la date d'echeance.</p>
                                    </div>
                                }
                                @if (Model.check_virement_exception)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <p>Veuillez vérifier vos entrées dans la phase du virement.</p>
                                    </div>
                                }
                                <input asp-for="CreditsDetails.CreditId" value="@Model.Credits.Id" type="hidden"/>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label asp-for="CreditsDetails.DateReglement" class="control-label">Date Reglement <span class="text-danger">*</span></label>
                                        <input asp-for="CreditsDetails.DateReglement" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                    </div>

                                    <div class="form-group col-12">
                                        @if (Model.check_all_checkboxes)
                                        {
                                            <p class="text-danger">veuillez cocher au moins 1 case.</p>
                                        }
                                        <label class="control-label">Mode Paiement <span class="text-danger">*</span></label>
                                        <div class="form-row">
                                            @foreach (var item in Model.ModePaimentsList)
                                            {
                                                if (item.Mode == "Credit")
                                                {
                                                    continue;
                                                }
                                                <div class="form-check ml-2">
                                                    <input class="form-check-input payment-checkbox" type="checkbox" id="@item.Mode" name="@item.Mode" value="@item.Mode">
                                                    <label class="form-check-label mr-2" for="@item.Mode">@item.Mode</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>


                                <!-- Form d'Espece -->
                                <div class="collapse border border-secondary border-3 mb-1" id="especeForm">
                                    <div class="container-fluid mb-2 bg-dark">
                                        <h3 class="mb-0 text-center text-light">Form d'Espece</h3>
                                    </div>
                                    <div class="p-1">
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="CreditsDetails.MensualitePayeeEspece" class="control-label">Montant payé (DH) <span class="text-danger">*</span></label>
                                                <input asp-for="CreditsDetails.MensualitePayeeEspece" type="text" value="@Model.Credits.Mensualite" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Form d'Espece -->
                                <!------------------------>



                                <!-- Form de Cheque -->
                                <div class="collapse border border-secondary border-3 mb-1" id="chequeForm">
                                    <div class="container-fluid mb-2 bg-dark">
                                        <h3 class="mb-0 text-center text-light">Form de Cheque</h3>
                                    </div>
                                    <div class="p-1">
                                        <input asp-for="Cheques.Action" value="Credit" type="hidden" />
                                        <input asp-for="Cheques.Etat" value="payé" type="hidden" />

                                        <div class="form-row">
                                            <div class="col-12">
                                                <label asp-for="Cheques.Numero" class="control-label">Numéro du Cheque <span class="text-danger">*</span></label>
                                                <input asp-for="Cheques.Numero" type="text" class="form-control">
                                            </div>

                                            <div class="col-12">
                                                <label asp-for="Cheques.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                                <select asp-for="Cheques.BanqueId" class="form-control form-select">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.BanquesList)
                                                    {
                                                        <option value="@item.Id">@item.Nom</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-12">
                                                <label asp-for="Cheques.Montant" class="control-label">Montant (DH) <span class="text-danger">*</span></label>
                                                <input asp-for="Cheques.Montant" type="text" value="@Model.Credits.Mensualite" class="form-control">
                                            </div>

                                            <div class="col-12">
                                                <label asp-for="Cheques.AuNomDe" class="control-label">Au nom de: <span class="text-danger">*</span></label>
                                                <input asp-for="Cheques.AuNomDe" type="text" class="form-control">
                                            </div>

                                            <div class="col-12">
                                                <label asp-for="Cheques.DateReglement" class="control-label">Date de Reglement <span class="text-danger">*</span></label>
                                                <input asp-for="Cheques.DateReglement" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                            </div>

                                            <div class="col-12">
                                                <label asp-for="Cheques.DateEcheance" class="control-label">Date d'Echeance <span class="text-danger">*</span></label>
                                                <input asp-for="Cheques.DateEcheance" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-12">
                                                <label asp-for="Cheques.DateValeur" class="control-label">Date Valeur</label>
                                                <input asp-for="Cheques.DateValeur" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Fin Form de Cheque -->
                                <!------------------------>



                                <!-- Form de Virement -->
                                <div class="collapse border border-secondary border-3 mb-1" id="virementForm">
                                    <div class="container-fluid mb-2 bg-dark">
                                        <h3 class="mb-0 text-center text-light">Form de Virement</h3>
                                    </div>
                                    <div class="p-1">
                                        <input asp-for="Virements.Action" value="Credit" type="hidden" />
                                        <input asp-for="Virements.Etat" value="payé" type="hidden" />

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Virements.Rib" class="control-label">R.I.B <span class="text-danger">*</span></label>
                                                <input asp-for="Virements.Rib" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Virements.BanqueId" class="control-label">Banque <span class="text-danger">*</span></label>
                                                <select asp-for="Virements.BanqueId" class="form-control form-select">
                                                    <option value="">Choisir...</option>
                                                    @foreach (var item in Model.BanquesList)
                                                    {
                                                        <option value="@item.Id">@item.Nom</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Virements.Montant" class="control-label">Montant (DH) <span class="text-danger">*</span></label>
                                                <input asp-for="Virements.Montant" type="text" value="@Model.Credits.Mensualite" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Virements.AuNomDe" class="control-label">Au nom de: <span class="text-danger">*</span></label>
                                                <input asp-for="Virements.AuNomDe" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label asp-for="Virements.DateVirement" class="control-label">Date de Reglement <span class="text-danger">*</span></label>
                                                <input asp-for="Virements.DateVirement" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Fin Form de Virement -->
                                <!------------------------>
                            </div>

                            <div class="modal-footer">
                                <button asp-page-handler="Payee" class="btn btn-primary btn-lg">Confirmer</button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-lg">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Credit Details -->
                <div class="collapse" id="creditCollapse">
                    <div class="table-responsive mx-auto">
                        <table class="table table-earning table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th class="text text-white bg-info">Date Reglement</th>
                                    <th class="text text-white bg-info">Mensualite (DH)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CreditsDetailsList)
                                {
                                    <tr>
                                        <td class="text-dark h6">@item.DateReglement.ToShortDateString()</td>
                                        <td class="text-dark h6">
                                            @if (item.MensualitePayeeEspece != 0)
                                            {
                                                <p>Espece: @item.MensualitePayeeEspece</p>
                                            }
                                            @if (item.MensualitePayeeCheque != 0)
                                            {
                                                <p>Cheque: @item.MensualitePayeeCheque</p>
                                            }
                                            @if (item.MensualitePayeeVirement != 0)
                                            {
                                                <p>Virement: @item.MensualitePayeeVirement</p>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize the toggle switch
            $('#toggleSwitch').bootstrapToggle();

            // Event listener for toggle switch change
            $('#toggleSwitch').on('change', function () {
                var isToggleOn = $(this).prop('checked');

                // Get the Note and Etat input elements
                var noteInput = $('#Credits_Note');
                var etatInput = $('#Credits_Etat');
                var mensualiteInput = $('#Credits_Mensualite');
                var etat = $("#Credits_Etat").val();

                // Enable or disable Note and Etat based on the toggle state
                noteInput.prop('readonly', !isToggleOn);
                etatInput.prop('readonly', !isToggleOn);
                if (etat !== 'payé') {
                    mensualiteInput.prop('readonly', !isToggleOn);
                }
                console.log(etat);
            });

            // Event listener for payment checkboxes
            $('.payment-checkbox').on("change", function () {
                var isChecked = $(this).prop("checked");
                var selectedValue = $(this).val();

                if (isChecked && (selectedValue === "Cheque" || selectedValue === "Virement" || selectedValue === "Espece" || selectedValue === "Credit")) {
                    $('#' + selectedValue.toLowerCase() + 'Form').collapse('show');
                } else {
                    $('#' + selectedValue.toLowerCase() + 'Form').collapse('hide');
                }
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            // Get references to the input fields
            var montantInput = $("#Credits_Montant");
            var mensualiteInput = $("#Credits_Mensualite");
            var dateFinInput = $("#Credits_DateFin");

            // Attach an input event handler to both Montant and Mensualite inputs
            montantInput.on("input", updateDateFin);
            mensualiteInput.on("input", updateDateFin);

            function updateDateFin() {
                var montant = parseFloat(montantInput.val());
                var mensualite = parseFloat(mensualiteInput.val());

                if (!isNaN(montant) && !isNaN(mensualite) && mensualite !== 0) {
                    var months = Math.ceil(montant / mensualite);
                    var currentDate = new Date();
                    currentDate.setMonth(currentDate.getMonth() + months);
                    var formattedDate = currentDate.toISOString().slice(0, 10); // Format as "yyyy-MM-dd"
                    dateFinInput.val(formattedDate);
                }
            }
        });
    </script>
}
