@page
@model AUTOPARC.Pages.Parametrage.Credit.IndexModel
@{
    ViewData["Title"] = "Parametrage";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Parametrage</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Listes des Credits</h4>
            <hr>

            <div class="mt-5">
                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text-white bg-info"><span class="h5">Num</span></th>
                                <th class="text-white bg-info"><span class="h5">Action</span></th>
                                <th class="text-white bg-info"><span class="h5">Banque</span></th>
                                <th class="text-white bg-info"><span class="h5">Montant</span></th>
                                <th class="text-white bg-info"><span class="h5">Monsualite</span></th>
                                <th class="text-white text-center bg-info"><span class="h5">État</span></th>
                                <th class="text-white text-center bg-info"><span class="h5">Consulter</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CreditsList)
                            {
                                string badge = item.Etat == "payé" ? "badge-success" : item.Etat == "impayé" ? "badge-danger" : "badge-warning";

                                <tr class="h5">
                                    <td class="text-dark">@item.Num</td>
                                    <td class="text-dark">@item.Action</td>
                                    <td class="text-dark">@item.Banque.Nom</td>
                                    <td class="text-dark">@item.Montant</td>
                                    <td class="text-dark">@item.Mensualite</td>
                                    <td class="text-center"><span class="badge @badge">@item.Etat</span></td>
                                    <td class="text-dark">
                                        <a asp-route-id="@item.Id" asp-page="/Parametrage/Credit/Details" class="text text-white btn btn-info btn-block font-weight-bold"><i class="bi bi-info-circle-fill"></i> info</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>